* {
	padding:0;
	margin:0;
	font-family: ethnocentric, sans-serif;
	color: #fff;
}
body{
/*	overflow: hidden;*/
	background-image: url("images/Background-image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
	top: 0;
	width: 100%;
  background-color: #000028;
  overflow: visible;
  height: 80px;
	border-bottom: solid 2px #fff;
}
.footer{
	width: 100%;
	height: 80px;
	background-color: #000028;
	position: fixed;
	bottom: 0px;
	border-top: solid 2px #fff;
}
.topnav a input{
	background-color: #000028;
	border: solid 1px #fff;
	border-radius: 200px;
	padding: 5px 10px;
	margin-right: 25px;
	color: #fff;
	width: 200px;
	font-family: 'Roboto', sans-serif;
}
.news-feed{
	background-color: rgba(0,0,0,0.50);
	height: 3000PX;
	width: 50%;
	margin: auto;
	border-radius: 15px;
	border: solid 2px #fff;
}
.card-header{
	background-color: #000028;
	border-radius: 15px 15px 0px 0px;
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid #fff;
}
.main{
	margin: 150px 0;
}
.live{
	color: red;
	font-size:8px;
	vertical-align: super;
}
.topnav a input:focus{
	outline: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  margin: 0px 25px;
  text-decoration: none;
  font-size: 17px;
	line-height: 80px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #BA3441;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	margin: 40px 0px 0px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
#site-logo{
	width: 150px;
	height: 100%;
	text-shadow: 100px 100px 0 #000;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #313131;
  margin: 15% auto; /* 15% from the top and centered */
  border: 2px solid #fff;
	border-radius: 5px;
  width: 30%; /* Could be more or less, depending on screen size */
	text-align: center;
}
.modal-header{
	text-align: center;
	background-color: #161616;
	height: 95px;
	margin: none;
	position: relative;
	line-height: 95px;
	padding: 10px;
}
.modal-logo img{
	width: 95px;
	float: left;
	
}
.modal-title{
	font-size: 15px;
}

/* The Close Button */
.close{
  color: #BA3441;
  float: right;
  font-size: 28px;
  font-weight: bold;
	line-height: 95px;
}
.modal-content form input{
	color: #1B1B1B;
}

.close:hover,
.close:focus {
  color: #54171D;
  text-decoration: none;
  cursor: pointer;
}
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

footer {
	width:100%;
	padding:5px;
	height:20px;
	background-color: #ddd;
	color: #000;

	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size:15px;

	position:fixed;
	bottom:0px;
	left:0px;

	text-align:center;
	z-index:1;
}

#commentscontainer {
	width:100%;
	padding:5px;
	height:460px;
	background-color: #000;
	color: #fff;

	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size:15px;

	position:fixed;
	bottom:-400px;
	left:0px;

	text-align:center;
	z-index:0;
}

main {
	width:100%;
	padding:5px;

	font-family: Calibri, Helvetica, Arial, sans-serif;

	text-align:center;
}


form input {

	height:40px;
	margin:25px;
	padding:2px;

}

#loading {

	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left: 225px;
}

.subrow {

	width: 90%;
	margin:0 auto;
	background-color:#efefef;
	border-bottom:1px #ccc solid;
	font-size:75px;
	min-height:200px;
}

.subrow .sublinkbar {

	font-size:25px;
	padding:10px;

}

#messages {
	min-height:75px;
}

.rssitem {
	width: 90%;
	margin:0 auto;
	background-color:#efefef;
	border-bottom:1px #ccc solid;
	font-size:20px;
	min-height:200px;
}

#comcontent {
	background-color: #fff;
	width:90%;
	height:300px;
	margin:20px auto;
	color:#000;
	overflow: scroll;
}

.comment {
	background-color:#eef;
	width:90%;
	margin:0 auto;
	padding:5px;
	border-bottom:1px #ccc solid;
}

.comdate {
	font-style: italic;
	font-size:80%;
	width:90%;
	margin:0 auto;
	padding:0 5px;
	background-color:#dde;
}

.comlinks {
	font-size:90%;
	width:90%;
	margin:0 auto;
	padding:0 5px;
	background-color:#dde;
}

#commentbox {
	width:80%;
	position:relative;
	bottom:0;
	height:50px;
	padding: 5px;
}

#commentbtn {
	width:10%;
	position:relative;
	bottom:35px;
}

#clearbtn {
	width:10%;
	position:relative;
	bottom:25px;
	left:40.5%;
}